/* Style for the dropdown container */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body{
  background-color: white;
}
.profile-page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.dropdown-container {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    font-size: 20px; /* Adjust as needed */
  }
  
  /* Style for the dropdown select element */
  .dropdown-select {
    width: 300px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
  }
  
  /* Style for the dropdown options */
  .dropdown-option {
    font-weight: bold;
  }
  
  .chart-canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  